.card-image {
    width: 100px;
    margin-right: 20px;
    border-radius: 10px;
    border: 1px solid orangered;
}

.text-link {
    text-decoration: none;
}

.basket-card {
    display: flex;
    align-items: center;
}

.basket-card-setting {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-button {
    border-radius: 10px;
    background: rgba(255, 166, 0, 0.692);
}

.basket-card>h3 {
    margin: auto 5px;
}

.basket-clear {
    cursor: pointer;
    text-decoration: underline;
}

.empty-phone {
    max-height: 110%;
    background-color: rgb(231, 231, 231);
    border-radius: 20px;
    margin-top: 10px;
}

.none-basket {
    width: 300px;
    display: block;
    margin: 0 auto;
}

.btn-about {
    position: relative;
    margin: 20px auto !important;
    display: block !important;
    padding: 10px 60px;
    border-radius: 20px;
    bottom: 10px;
}

.about-link {
    text-decoration: none;
    
}