.ground-buy {
    background: rgb(255, 255, 255);
    margin-top: 20px;
    border-radius: 10px;
}

.ButtonGroup-buy {
    display: flex;
    justify-content: center;
}

.left-buy {
    border-radius: 20px 0px 0px 20px !important;
}

.right-buy {
    border-radius: 0px 20px 20px 0px !important;
}

.ok-alert {
    text-align: center;
    position: fixed;
    top: 300px;
    z-index: 2;
}









